* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

hr {
  border: 0.6px solid #f1f1f1 !important;
  margin: 20px 0;
}

.section-title {
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-top: 50px;
}

.p-section {
  padding: 0 20px;
}
